* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* navbar */

nav {
    background-color: #03506f;
    padding: 7px;
    color: #ffe3de;

}

div h4 {
    font-family: 'Montserrat', cursive;
    letter-spacing: 1.3px;
    line-height: 1.2;
    font-weight: 900;
    padding: 5px;
    margin-left: 10px;
    color: #ffe3de;
    font-size: 2rem;
    display: inline-block;

}

nav ul {
    list-style: none;
    display: none;
}

nav ul li {
    text-align: center;
    margin: 15px auto;
}

nav ul li a {
    color: #ffe3de;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(255, 255, 255);
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #ffe3de;
    font-size: 30px;
}

.active {
    display: block;
}

/* banner */

main .banner {
    height: auto;
    width: auto;
    color: #ffe3de;
    background-image: url('../image/hotel-banner.jpg');
    background-size: cover;
    text-align: center;
    padding: 7em 0;
    font-family: gabriola;
}

.banner-container {
    margin: 0 auto 50px auto;
}

.banner-container h1 {
    font-size: 2em;
    letter-spacing: 5px;
    text-shadow: 3px 2px 7px #000;
}

.banner-container p {
    font-size: 1.5em;
    text-shadow: 3px 2px 7px #000;
}


/* facilites */

.facilities {
    padding: 5em 0 6em 0;
    position: relative;
}

#facilities h1 {
    text-align: center;
    margin: 50px auto;
    font-weight: 400;
    font-size: 4em;
    letter-spacing: 3px;
    color: #03506f;
}

.content {
    background-color: #fffbfa;
    margin: 0px auto;
}

.inner {
    margin-bottom: 5em;
}

.left {
    background-color: #fffbfa;

}

.right {
    background-color: #fffbfa;
}

.image img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin: 0 auto;
}

.inner-article {
    padding: 2em 1em 0.8em 1em;
    width: 100%;
    text-align: center;
}

.inner-article h2 {
    font-size: 2em;
}

.inner-article p {
    padding-top: 20px;
    line-height: 30px;
    font-size: 1.1em;
}

.image img {
    width: 100%;
    height: auto;

}

/* image grid */

div #gallery {
    padding: 5em 0 6em 0;
    margin: 15px auto;
    width: 100%;
}

#gallery h1 {
    text-align: center;
    margin: 50px 0;
    font-weight: 400;
    font-size: 4em;
    letter-spacing: 3px;
    color: #03506f;
}


.image-grid {
    text-align: center;
    object-fit: cover;
    margin: 50px auto;
}

img {
    width: 80%;
    margin: 10px auto;
    height: 100%;

}

/* about us */

div #about-us {
    padding: 5em 0 6em 0;
    margin: 30px auto;
}

#about-us h1 {
    text-align: center;
    font-weight: 400;
    font-size: 4em;
    letter-spacing: 2px;
    color: #03506f;
}

#about-us p {
    text-align: center;
    margin: 0 30px;
    padding: 0 20px;
    word-spacing: 2px;
    line-height: 50px;
    display: block;
}

/* profile */

aside {
    margin: 50px auto;
}

.profile {
    text-align: center;
}

.profile-header h3 {
    font-size: 2em;
    text-align: center;
    font-weight: 400;
    letter-spacing: 3px;
    color: #03506f;
}

.profile-header p {
    line-height: 50px;
    padding: 10px 40px;
}

.profile-header img {
    width: 100px;
    margin-bottom: 10px;
}

table {
    margin: 5px auto 50px auto;
    border-style: none;
    text-align: left;
}

/* footer */

footer {
    background-color: #03506f;
    padding-top: 60px;
    padding-bottom: 40px;
    font-weight: bold;
    text-align: center;
    color: #ffe3de;
}





/* ukuran desktop */
@media screen and (min-width: 768px) {
    nav {
        display: flex;
        justify-content: space-around;
        height: 70px;
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    nav ul li a {
        margin: 30px;
    }

    .navbar-toggle {
        display: none;
    }

    .nav:hover {
        color: rgba (255, 255, 0.8);
    }

    .inner {
        display: flex;
    }

    .left {
        flex-direction: row;
    }

    .right {
        flex-direction: row-reverse;
    }

    .inner-article {
        padding: 1em 2em 0.1em 2em;
    }

    .image img {
        width: 100%;

    }

    .image-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}